# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

In [ ]:
1.first get the webpage https://www.naukri.com/

2.Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

3.Then click the search button.

4.Then scrape the data for the first 10 jobs results you get.

5.Finally create a dataframe of the scraped data.

Note- All of the above steps have to be done in code. No step is to be done manually.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [ ]:
driver = webdriver.Chrome(r'C:\chromedriver.exe')
driver

In [ ]:
driver.get('https://www.naukri.com/')

In [ ]:
designation = driver.find_element(by.CLASS_NAME"Suggestor_input")
designation.send_keys("Data Analyst")

In [ ]:
location = driver.find_element(by.XPATH,'')
location.send_keys('Bangalore')

In [ ]:
driver.find_element_by_xpath('//*[@id="qsb-keyword-sugg"]').send_keys('Data Analyst')
driver.find_element_by_xpath('//*[@id="qsb-location-sugg"]').send_keys('Bangalore')
driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button').click()

In [ ]:
job_title =[]
job_location=[]
company =[]
experienced=[]

In [ ]:
titles=driver.find_elements_by_xpath('//div[@class="info fleft"]/a')[:10]
company_title=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')[:10]
company_location= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')[:10]
experience_require=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")[0:10]

In [ ]:
for i in titles:
    job_title.append(i.text)
for i in company_title:
    company.append(i.text)
for i in company_location:
    job_location.append(i.text)
for i in experience_require:
    experience=i.text
    experienced.append(experience)

In [8]:
import pandas as pd
Data_analyst=pd.DataFrame({})
Data_analyst['JOB TITLE']='job_title'
Data_analyst['COMPANY']='company'
Data_analyst['JOB LOCATION']='job_location'
Data_analyst['Experience Require']='experienced'
print('/033[1m'+'Top 10 Data Analyst Job at Bangrole :'+'/033[0m')
Data_analyst[:10]

/033[1mTop 10 Data Analyst Job at Bangrole :/033[0m

Empty DataFrame
Columns: [JOB TITLE, COMPANY, JOB LOCATION, Experience Require]
Index: []

In [ ]:
0 Data Analyst   Marketing  byjus    Transforming Education using Technology Bangalore/Bengaluru   0-2 Yrs
1 Business Data Analyst  INDIAVIDUAL LEARNING LIMITED   Bangalore/Bengaluru  2-6 Yrs
2 Lead Data Analyst / Data Engineer  Huawei Technologies  Bangalore/Bengaluru   5-10 Yrs
3 Data Analyst / Business Analyst (Demand Planning) Flipkart  Bangalore/Bengaluru  1-4 Yrs
4 Senior Data Analyst  Scienaptic Systems Bangalore/Bengaluru  5-10 Yrs
5 Data Analyst  Applied Materials  Bangalore/Bengaluru  0-3 Yrs
6 Business Data Analys  tRANDSTAD INDIA PVT LTD   Bangalore/Bengaluru  8-12 Yrs
7 Data Analyst - I/II  Philips India Limited  Bangalore/Bengaluru   3-6 Yrs
9 Openings For Data Analyst  Allegis Services India Pvt. Ltd.  Bangalore/Bengaluru  0-3 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [ ]:
This task will be done in following steps:

1.first get the webpage https://www.naukri.com/

2.Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

3.Then click the search button.

4.Then scrape the data for the first 10 jobs results you get.

5.Finally create a dataframe of the scraped data.

Note- 1. All of the above steps have to be done in code. No step is to be done manually.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

# connecting Webdriver
driver = webdriver.Chrome(r'C:\chromedriver.exe')
driver

# Opening naukri.com
url ='https://www.naukri.com/'
driver.get(url)

In [ ]:
driver.find_element_by_xpath('//*[@id="qsb-keyword-sugg"]').send_keys('Data Scientist')
driver.find_element_by_xpath('//*[@id="qsb-location-sugg"]').send_keys('Bangalore')
driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button').click()

In [ ]:
job_title=[]
job_location=[]
company_name=[]
job_description=[]

In [ ]:
URL=[]
job_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]
for i in job_tags:
    URL.append(i.get_attribute('href'))

In [ ]:
for i in URL:
    driver.get(i)
    try:
        job_title.append((driver.find_element_by_xpath('//*[@id="root"]/main/div[2]/div[2]/section[1]/div[1]/div[1]/header/h1')).text)
        job_location.append((driver.find_element_by_xpath('//*[@id="root"]/main/div[2]/div[2]/section[1]/div[1]/div[2]/div[3]/span')).text)
        company_name.append((driver.find_element_by_xpath('//*[@id="root"]/main/div[2]/div[2]/section[1]/div[1]/div[1]/div/a')).text)
        job_description.append((driver.find_element_by_xpath('//*[@id="root"]/main/div[2]/div[2]/section[2]')).text.replace("\n",""))
    except NoSuchElementException:
        job_title.append("Nan")
        job_location.append("Nan")
        company_name.append("Nan")
        job_description.append("Nan")

In [15]:
Data_scientist=pd.DataFrame({})
Data_scientist['job_title']='job_title'
Data_scientist['job_location']='job_location'
Data_scientist['company_name']='company_name'
Data_scientist['job_description']='job_description'

In [16]:
print('\033[1m'+'Top 10 Data Analyst Job at Bangrole :'+'\033[0m')

Top 10 Data Analyst Job at Bangrole :

In [ ]:
      job_title                   job_location                          company_name                               job_description

In [ ]:
0  Lead Data Scientist         Bangalore/Bengaluru           Huawei Technologies                             job descriptionWe are looking for a Lead data ...
1  Sr. Data Scientist / Data Scientist For Bangal...         Kolkata, Bangalore/BengalurumPokket             Job descriptionJob Description:1. Must havea. ...
2  Senior Data Scientist   Noida, Bangalore/Bengaluru         InnovAccer                                     Job description A day in the life at Innovacc...
3  Senior Data- Python/Machin.    Mumbai, Hyderabad/Secunderabad, Pune, Bangal.Altimax Business Solution     job descriptionAbout The Job :- You will archi...
4  Data Scientist/Senior Data Scientist - IT Serv... Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...Pylon Management Consulting Pvt Ltd	Job descriptionResponsibilities :- Analytics l...
5  SDE2 Data Scientist  Bangalore/Bengaluru Multi Recruit Job descriptionUse data to develop machine lea...
6  SDE1 Data Scientist  Bangalore/Bengaluru Multi Recruit Job descriptionUse data to develop machine lea...
7  Data Scientist       Bangalore/Bengaluru epiFi Technologies Job descriptionAt epiFi you will :Research and...
8  Data Scientist       Pune, Bangalore/Bengaluru  Nutanix India Technologies Private Limited  Job descriptionObjectives of this RoleCollabor...
9  Nan                       Nan                                       Nan                                  Nan

# Q3: In this question you have to scrape data using the filters available on thewebpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” . The salary filter to be used is “3-6” lakhs.

In [ ]:
The task will be done as shown in the below steps:

1.first get the webpage https://www.naukri.com/

2.Enter “Data Scientist” in “Skill,Designations,Companies” field.

3.Then click the search button.

4.Then apply the location filter and salary filter by checking the respective boxes

5.Then scrape the data for the first 10 jobs results you get.

6.Finally create a dataframe of the scraped data.

Note- All of the above steps have to be done in code. No step is to be done manually.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

# connecting Webdriver
driver = webdriver.Chrome(r'C:\chromedriver.exe')
driver

# Opening naukri.com
url ='https://www.naukri.com/'
driver.get(url)

In [ ]:
driver.find_element_by_xpath('//*[@id="qsb-keyword-sugg"]').send_keys('Data Scientist')
driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button').click()

In [ ]:
driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]').click()

In [ ]:
driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]').click()

In [ ]:
job_title =[]
job_location=[]
company =[]
experienced=[]

In [ ]:
titles=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')[:10]
company_title=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')[:10]
company_location= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')[:10]
experience_require=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")[0:10]

In [ ]:
for i in titles:
    job_title.append(i.text)
for i in company_title:
    company.append(i.text)
for i in company_location:
    job_location.append(i.text)
for i in experience_require:
    experience=i.text
    experienced.append(experience)

In [19]:
Data_scientist=pd.DataFrame({})
Data_scientist['JOB TITLE']='job_title'
Data_scientist['COMPANY']='company'
Data_scientist['JOB LOCATION']='job_location'
Data_scientist['Experience Require']='experienced'
print('/033[1m'+'Top 10 Data Analyst Job at Bangrole :'+'/033[0m')
Data_scientist

/033[1mTop 10 Data Analyst Job at Bangrole :/033[0m

Empty DataFrame
Columns: [JOB TITLE, COMPANY, JOB LOCATION, Experience Require]
Index: []

In [ ]:
0  Job Opportunity || Data Scientist || HCL Techn... HCL Technologies    Delhi / NCR     4-7 Yrs
1  Associate Data Scientist   Optum Global Solutions (India) Private Limited  Noida      2-7 Yrs
2  Data Scientist I/II/III    OLX India Pvt Ltd Gurgaon/Gurugram                           3-6 Yrs
3  Academic Counsellor   Data Scientist GreatLearning  Gurgaon/Gurugram, Bangalore/Bengaluru 1-4 Yrs
4  Data Scientist       lericon infomatics pvt.ltd     Mumbai, Delhi / NCR                    3-5 Yrs
5  Data Scientist       Optum Global Solutions (India) Private Limited Noida, Gurgaon/Gurugram  2-6 Yrs
6  Data Scientist       Milliman India Pvt Ltd      Gurgaon/Gurugram                            2-5 Yrs
7  Data Scientist       Fractal Analytics            Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru 3-7 Yrs
8  Data Scientist Internship  iHackers Inc            New Delhi                                     0-1 Yrs
9  Data Scientist    NatWest Group                     Gurgaon/Gurugram                              2-7 Yrs

# Q4 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:


1.Brand
2.Product Description
3.Price
4.Discount %

In [ ]:
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:

1.Go to flipkart webpage by url https://www.flipkart.com/

2.Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon

3.after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.

4.after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.

5.Now scrape data from this page as usual

6.repeat this until you get data for 100 sunglasses.

Note that all of the above steps have to be done by coding only and not manually.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

# connecting Webdriver
driver = webdriver.Chrome(r'C:\chromedriver.exe')
driver

# Opening naukri.com
url ='https://www.flipkart.com/'
driver.get(url)

In [ ]:
driver.find_element_by_xpath('//div[@class="_3OO5Xc"]/input').send_keys('sunglasses')
driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

In [ ]:
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [ ]:
URL=[]
for i in range(0,3):
    S_g_url=driver.find_elements_by_xpath('//a[@class="_2UzuFa"]')
    for i in S_g_url:
        URL.append(i.get_attribute('href'))
    # Clicking on NEXT button at end of page
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(4)

In [ ]:
URL[:100]

In [ ]:
for i in URL[:100]:
    driver.get(i)
    try:
        brand=driver.find_element_by_xpath("//span[@class='G6XhRU']").text
        Brand.append(brand)
        description=driver.find_element_by_xpath("//span[@class='B_NuCI']").text
        Product_Description.append(description)
        price=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']").text
        Price.append(price)
        discount=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']/span").text
        Discount.append(discount)
    except NoSuchElementException:
        Brand.append("NaN")
        Product_Description.append("NaN")
        Price.append("NaN")
        Discount.append('NaN')

In [26]:
Sunglasses=pd.DataFrame({})
Sunglasses['Brand']='Brand'[:100]
Sunglasses['Product_Description']='Product_Description'[:100]
Sunglasses['Price']='Price'[:100]
Sunglasses['Discount']='Discount'[:100]
Sunglasses

Empty DataFrame
Columns: [Brand, Product_Description, Price, Discount]
Index: []

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.


When you will open the above link you will reach to the below shown webpage. As shown in the above page you have to scrape the tick marked attributes. These are

1.Rating
2.Review_summary
3.Full review


You have to scrape this data for first 100 reviews.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

# connecting Webdriver
driver = webdriver.Chrome(r'C:\chromedriver.exe')
driver

# Opening naukri.com
url ='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [ ]:
driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]/span').click()

In [ ]:
from selenium.common.exceptions import StaleElementReferenceException
#creating empty lists
Rating=[]
Review_summary=[]
Full_review=[]

In [ ]:
for page in range(1,12):
        
    rat = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    rev = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    frev = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

    for k in rat:
        rating.append(k.text)

    for i in rev:
        review_summary.append(i.text)

    for j in frev:
        full_review.append(j.text)
    time.sleep(3)

    print(len(review_summary))
    
    nxt_page = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')
    try:
        driver.get(nxt_page[1].get_attribute('href'))
    except:
        driver.get(nxt_page[0].get_attribute('href'))

In [ ]:
print('\033[1m'+'Iphone 11 Reviews from Flipkart :'+'\033[0m')

In [28]:
Review_Iphone11= pd.DataFrame({})
Review_Iphone11['Rating'] = 'rating'[:100]
Review_Iphone11['Review Summary'] = 'review_summary'[:100] 
Review_Iphone11['Full Review'] = 'full_review'[:100]
Review_Iphone11.tail()

Empty DataFrame
Columns: [Rating, Review Summary, Full Review]
Index: []

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [ ]:
You have to scrape 4 attributes of each sneaker :
1.Brand
2.Product Description
3.Price
4.discount %

# As shown in the below image, you have to scrape the tick marked attributes.Also note that all the steps required during scraping should be done through code only and not manually.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

# connecting Webdriver
driver = webdriver.Chrome(r'C:\chromedriver.exe')
driver

# Opening naukri.com
url ='https://www.flipkart.com/'
driver.get(url)

In [ ]:
driver.find_element_by_xpath('//div[@class="_3OO5Xc"]/input').send_keys('sneakers')
driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

In [ ]:
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [ ]:
URL=[]
for i in range(0,4):
    sneakers=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in sneakers:
        URL.append(i.get_attribute('href'))
    driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
    time.sleep(3)

In [ ]:
list_of_url=URL[0:100]

In [ ]:
from tqdm import tqdm
for i in tqdm(list_of_url):
    driver.get(i)
    try:
        brand=driver.find_element_by_xpath("//span[@class='G6XhRU']").text
        Brand.append(brand)
        description=driver.find_element_by_xpath("//span[@class='B_NuCI']").text
        Product_Description.append(description)
        price=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']").text
        Price.append(price)
        discount=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']/span").text
        Discount.append(discount)
    except NoSuchElementException:
        Brand.append("Null")
        Product_Description.append("Null")
        Price.append("Null")
        Discount.append('Null')
    time.sleep(3)

In [30]:
print(len('Brand'),len('Product_Description'),len('Price'),len('Discount'))

5 19 5 8

In [32]:
Sneakers=pd.DataFrame({})
Sneakers['Brand']='Brand'[:100]
Sneakers['Product_Description']='Product_Description'[:100]
Sneakers['Price']='Price'[:100]
Sneakers['Discount']='Discount'[:100]
Sneakers

Empty DataFrame
Columns: [Brand, Product_Description, Price, Discount]
Index: []